h1 {
  color: rgb(61, 61, 61);
  background: rgb(255, 255, 255);
  background-clip: calc(100% - 4px);
  border: 2px solid rgb(61, 61, 61);
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(61, 61, 61);
  background-clip: calc(100% - 4px);
  border: 2px solid rgb(61, 61, 61);
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: bold;
}

a:hover {
  background: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  transition: 1s;
}

a:not(:hover) {
  transition: 1s;
}

div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
